{% extends 'base.html' %}
{% load static %}    
{% block body %}
        <div class="mainContentBodyLeft">
            <p class="welcome">Seje Bem-Vindo, </p>
            <p class="mainDescribe">Somos a <span style="font-family: 'Lobster', cursive;">Lui Cabrone</span> e temos as melhores pizzas e guloseimas do mundo.</p>
            <a href="{% url 'pedido' %}"><button type="button"  class="btn btn-outline-light buyBtn">Comprar Pizza</button><a>
        </div>
        <div class="mainContentBodyRight">
            <img src="{% static 'imgs/cara.png' %}" alt="" class="imgMano">
        </div>
{% endblock %}