{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cardapio.css' %}">  
{% endblock %}

{% block body %}
<div class="allBodyContent">
    <div>
        <div class="cardPizza">
        <div class="cardPizzaImg">
            <img class="cardImg" src="{% static 'imgs/pizzatemp.png' %}">
        </div>
        <div class="cardPizzaText">
            
        </div>
    </div>



    <div class="cardPizza">
        <div class="cardPizzaImg">
            <img class="cardImg" src="{% static 'imgs/pizzatemp.png' %}">
        </div>
        <div class="cardPizzaText">
            
        </div>
    </div>
    <div class="cardPizza">
        <div class="cardPizzaImg">
            <img class="cardImg" src="{% static 'imgs/pizzatemp.png' %}">
        </div>
        <div class="cardPizzaText">
            
        </div>
    </div>
    <div class="cardPizza">
        <div class="cardPizzaImg">
            <img class="cardImg" src="{% static 'imgs/pizzatemp.png' %}">
        </div>
        <div class="cardPizzaText">
            
        </div>
    </div>
    <div class="cardPizza">
        <div class="cardPizzaImg">
            <img class="cardImg" src="{% static 'imgs/pizzatemp.png' %}">
        </div>
        <div class="cardPizzaText">
            
        </div>
    </div>
    <div class="cardPizza">
        <div class="cardPizzaImg">
            <img class="cardImg" src="{% static 'imgs/pizzatemp.png' %}">
        </div>
        <div class="cardPizzaText">
            
        </div>
    </div>
    <div class="cardPizza">
        <div class="cardPizzaImg">
            <img class="cardImg" src="{% static 'imgs/pizzatemp.png' %}">
        </div>
        <div class="cardPizzaText">
            
        </div>
    </div>
    </div>
</div>

{% endblock %}